<!DOCTYPE html>
<html>

<head>
    <title>Ingredients</title>
</head>

<!--body>
    <form action="/recipes" method="POST">
        <p>Meal:</p>
        <input type="radio" id="breakfast" name="meal" value="Breakfast" selected>
        <label for="breakfast">Breakfast</label><br>
        <input type="radio" id="lunch" name="meal" value="Lunch">
        <label for="lunch">Lunch</label><br>
        <input type="radio" id="snacks" name="meal" value="Snacks">
        <label for="snacks">Snacks</label>
        <input type="radio" id="dinner" name="meal" value="Dinner">
        <label for="dinner">Dinner</label>

        <p>Please select your existing Ingredients:</p>
        <input type="checkbox" name="rice" value="rice">
        <label for="vehicle1"> rice / dosa rice</label><br>
        <input type="checkbox" name="urad_dal" value="urad_dal">
        <label for="vehicle2"> urad dal</label><br>
        <input type="checkbox" name="oil" value="oil" checked>
        <label for="vehicle3"> oil</label><br><br>
        <input type="submit" value="Submit">
    </form>

</body-->
<link rel="stylesheet" href="../static/css/ingredients.css">

<body>
    <form action="/recipes" method="POST">
    <div class="wrap">
        <label style="font-size: 22px;font-weight: bold;padding:10px; color: white;">Meal Type</label>
        <br />
        <label> 
            <input type="radio" checked id="breakfast" name="meal" value="breakfast">
            <div class="btn btn-sık"><span>Breakfast</span></div>
        </label>
        <label>
            <input type="radio" name="meal" id="lunch" value="lunch">
            <div class="btn btn-sık"><span>Lunch</span></div>
        </label>
        <label>
            <input type="radio" name="meal" id="snacks" value="snacks">
            <div class="btn btn-sık"><span>Snacks</span></div>
        </label>
        <label>
            <input type="radio" name="meal" id="dinner" value="dinner">
            <div class="btn btn-sık"><span>Dinner</span></div>
        </label>
        <br/>
        <label style="font-size: 22px;font-weight: bold;padding:10px;color: white;">All or Any of the Ingredients</label>
        <br/>
        <label>
            <input type="radio" name="combination" id="any" value="any">
            <div class="btn btn-sık"><span>Any</span></div>
        </label>
        <label>
            <input type="radio" name="combination" checked id="all" value="all">
            <div class="btn btn-sık"><span>All</span></div>
        </label>
        <br/>
        <label style="font-size: 22px;font-weight: bold;padding:10px;color: white;">Select the existing Ingredient(s)</label>
        <br/>

        <label>
            <input type="checkbox" name="ingredient" value="rice" />
            <div class="btn btn-sık"><span>Rice</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="idly rice" />
            <div class="btn btn-sık"><span>Idly Rice</span></div>
        </label>
        <label>
            <input type="checkbox" checked name="ingredient" value="dosa rice" />
            <div class="btn btn-sık"><span>Dosa Rice</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="wheat flour" />
            <div class="btn btn-sık"><span>Wheat Flour</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="bread" />
            <div class="btn btn-sık"><span>Bread</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="rava" />
            <div class="btn btn-sık"><span>Rava</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="sooji" />
            <div class="btn btn-sık"><span>Sooji</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="moong dal" />
            <div class="btn btn-sık"><span>Moong Dal</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="chana dal" />
            <div class="btn btn-sık"><span>Chana Dal</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="toor dal" />
            <div class="btn btn-sık"><span>Toor/Tur Dal</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="vermicelli" />
            <div class="btn btn-sık"><span>Vermicelli</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="sabudana" />
            <div class="btn btn-sık"><span>Sabudana</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="poha" />
            <div class="btn btn-sık"><span>Poha</span></div>
        </label>
        <label>
            <input type="checkbox" name="ingredient" value="beaten_rice" />
            <div class="btn btn-sık"><span>Beaten Rice</span></div>
        </label>
        <label>
            <input type="checkbox" checked name="ingredient" value="oil" />
            <div class="btn btn-sık"><span>Oil</span></div>
        </label>
        <br><br>
        <center><div class="btn btn-sık"><input type="submit" value="Submit"></div></center>
    </div>
</form>
</body>

</html>